body {
    background-image: url(coverpage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


#mustang {

    position: absolute;
    top: 35%;
    left: 10%;
    transform: translate(0px, 10px);
    width: 22s0px;
    height: 140px;
    border: 2px solid black;



}

#bmw {

    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(0px, 10px);
    width: 220px;
    height: 145px;
    border: 2px solid black;




}


#supra {
    position: absolute;
    top: 35%;
    left: 42%;
    transform: translate(0px, 10px);
    width: 200px;
    height: 140px;
    border: 2px solid black;
    background-color: aqua;


}

#textbmw {
    position: absolute;
    top : 60%;
    left:80%;
    transform: translate(0px,10px);

    border:  solid white;
    border-style:inset;
    font-size: 20px;
    background-color: yellow;
    
}

#textmustang {
    position: absolute;
    top: 60%;
    right: 80%;
    transform: translate(0px,10px);

    border:  solid white;
    border-style:inset;
    font-size: 20px;
    background-color: yellow;

}

#textsupra{
    position: absolute;
    top: 60%;
    right: 47%; 
    transform: translate(0px,10px);

    border:  solid white;
    border-style:inset;
    font-size: 20px;
    background-color: yellow;
}

section{
    background-color: red;
    position: absolute;
    width: 1358px;
    height: 100px;
    

}

#But1{
    position: absolute;
    left: 900px; 
    top: 40%; 
}

#But2{
    position: absolute;
    left: 1050px; 
    top: 40%; 
}


#But3{
    position: absolute;
    left: 1200px; 
    top: 40%; 
}